[submodule "extension/godot-cpp"]
	path = extension/godot-cpp
	url = https://github.com/godotengine/godot-cpp
[submodule "extension/thirdparty/StormLib"]
	path = extension/thirdparty/StormLib
	url = https://github.com/ladislav-zezula/StormLib
